[program:websockets]
command=/usr/local/bin/php /var/www/html/artisan websockets:serve
numprocs=1
autostart=true
autorestart=true
user=dlaravel

redirect_stderr=true
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
