frontend phpenv
   mode http
   bind :443 ssl crt /etc/haproxy/proxy.pem alpn h2

   option forwardfor header X-Real-IP
   http-request add-header X-Real-IP %[src]
   http-request add-header X-Forwarded-For %[src]
   http-request add-header X-Forwarded-Proto https

   acl acme path_beg -i /.well-known/acme-challenge
   redirect scheme https code 301 if !{ ssl_fc } !acme

acl SUBDOMAIN_url hdr_beg(host) -i SUBDOMAIN.duckdns.org

use_backend SUBDOMAIN_server if SUBDOMAIN_url

backend SUBDOMAIN_server
   mode http
   fullconn   10000
   cookie SITEID insert indirect nocache
   server SUBDOMAIN host.docker.internal:1050

   
